# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so
*.so
*.o

# other file extensions
*.xml
*.csv
*.pdf
*.gz
*.npy
*.log

# music file
*.mp3
*.mp4

# pycharm files
/.idea
/data/
/notebook/model/

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints
notebook/.ipynb_checkpoints
*.xlsx
